<!-- Template comun pentru pagina principală și pentru paginile secțiunilor. -->
<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Ghidul Bobocului conține informații utile pentru studenții la Facultatea de Matematică și Informatică"
    />
    <meta
      name="author"
      content="Asociația Studenților la Matematică și Informatică"
    />

    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
      }
    </script>

    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" href="/images/asmi.png" />

    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Bungee Shade"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Diplomata"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Holtwood One SC"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Notable"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Alfa Slab One"
      rel="stylesheet"
    />

    <link href="/css/{{ style }}" rel="stylesheet" />

    <title>{{title}}</title>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
