---
layout: base.html
title: Ghidul Bobocului FMI
style: index.css
---
<main>

		<!-- Banner -->
		<section id="banner">
		  <div class="inner">
			<div class="animated-title">
				<div class="text-top">
					  <div>
						  <span>Bine ai venit</span>
						  <span> pe</span>
					  </div>
				  </div>
				  <div class="text-bottom">
					<div>Ghidul Bobocului!</div>
				  </div>
			</div>
			  <ul class="actions">
			  </ul>
		  </div>
	  </section>
  <body>


  <!--one-->
  <article id="one" class="post style2" >
	<div class="image">
	  <img
		src="https://wi.wallpapertip.com/wsimgs/179-1790208_ingnierie-informatique.jpg"
		alt=""
		data-position="75% center"
	  />
	</div>
	<div class="content">
	  <div class="inner">
		<header>
		  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Domeniul Informatică</a></h2>
		</header>
		<p>Invitație către viitor!</p>
		<ul class="actions">
		  <li>
			<a href="info" class="button alt">Accesează secțiunea</a>
		  </li>
		</ul>
	  </div>
  </article>

  <!--two-->

		  <article id="two" class="post invert style2 alt">
			  <div class="image">
				  <img src="https://wi.wallpapertip.com/wsimgs/21-218103_download-wallpapers-download-mathematics-chalkboard-math.jpg" alt="" data-position="10% center" />
			  </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Domeniul Matematică</a></h2>
					  </header>
					  <p>Învață să îți depășești limitele!</p>
					  <ul class="actions">
						  <li><a href="mate" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
		  </article>

	   <!--Three-->
		  <article id="three" class="post style2">
			  <div class="image">
				  <img src="https://wi.wallpapertip.com/wsimgs/10-102924_circuit-wallpapers-circuit-board.jpg" alt="" data-position="80% center" />
			  </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Domeniul CTI</a></h2>
					  </header>
						  <p>Un alt tip de rețea.</p>
					  <ul class="actions">
						  <li><a href="cti" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
		  </article>

	  <!-- Four -->
    <!-- TODO
		  <article id="four" class="post invert style2 alt">
			  <div class="image">
				  <img src="https://wi.wallpapertip.com/wsimgs/10-109815_http-3-bp-blogspot-com-5f-rhjesq-s1600.jpg" alt="" data-position="60% center" />
        </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Mesaj Decan</a></h2>
					  </header>
					  <p>Câteva cuvinte pentru tânăra generație.</p>
					  <ul class="actions">
						  <li><a href="mesaj-decan" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
		  </article>
    -->

	  <!-- Five -->
		  <article id="five" class="post invert style2 alt">
			  <div class="image">
				  <img class="poza" src="images/ramona.jpg" alt="" />
			  </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Mesaj Președinte ASMI</a></h2>
					  </header>
					  <p>De la studenți, pentru studenți.</p>
					  <ul class="actions">
						  <li><a href="mesaj-asmi" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
			  </div>
		  </article>

	  <!-- Six -->
		  <article id="six" class="post style2">
			  <div class="image">
				  <img src="https://wi.wallpapertip.com/wsimgs/13-130894_education-school-apple-learn-ss-.jpg" alt="" data-position="80% center" />
			  </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Activitatea Didactică</a></h2>
					  </header>
					  <p>Mic ghid de supraviețuire de-a lungul anilor.</p>
					  <ul class="actions">
						  <li><a href="activitate" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
			  </div>
		  </article>
<!--seven-->
		  <article id="seven" class="post invert style2 alt">
			  <div class="image">
				  <img src="https://fmi.unibuc.ro/wp-content/uploads/2020/05/Facultatea-de-Matematica-4-Copy-1500x500.jpg" alt="" data-position="80% center" />
			  </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Conducerea Facultății</a></h2>
					  </header>
					  <p>Linia de prim ajutor.</p>
					  <ul class="actions">
						  <li><a href="conducere" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
			  </div>
		  </article>
<!--8-->
		  <article id="eight" class="post style2">
			  <div class="image">
				  <img src="https://wi.wallpapertip.com/wsimgs/92-925047_fountain-pen-on-black-lined-paper-pen-writing.jpg" alt="" data-position="80% center" />
			  </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Regulamente FMI</a></h2>
					  </header>
					  <p>Student la FMI până la sfârșit.</p>
					  <ul class="actions">
						  <li><a href="regulament" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
			  </div>
		  </article>
<!--9-->
		  <article id="nine" class="post invert style2 alt">
			  <div class="image">
				  <img src="https://wi.wallpapertip.com/wsimgs/93-936695_graduation-wallpaper.jpg" alt="" data-position="80% center" />
			  </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Burse</a></h2>
					  </header>
					  <p>A zis cineva bani?</p>
					  <ul class="actions">
						  <li><a href="burse" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
			  </div>
		  </article>
<!--10-->
		  <article id="ten" class="post style2">
			  <div class="image">
				  <img src="https://wi.wallpapertip.com/wsimgs/225-2251184_activity-adventure-discovering-diverse-diversity.jpg" alt="" data-position="80% center" />
			  </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Reprezentare Studențească și Voluntariat</a></h2>
					  </header>
					  <p>Despre și pentru studenți!</p>
					  <ul class="actions">
						  <li><a href="reprezentare" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
			  </div>
		  </article>
<!--11-->
		  <article id="eleven" class="post invert style2 alt">
			  <div class="image">
				  <img src="https://wi.wallpapertip.com/wsimgs/235-2359989_how-to-be-a-successful-online-college-student.png" alt="" data-position="80% center" />
			  </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Facilități</a></h2>
					  </header>
					  <p>Dacă tot sunt student...</p>
					  <ul class="actions">
						  <li><a href="facilitati" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
			  </div>
		  </article>
<!--12-->
		  <article id="twelve" class="post style2">
			  <div class="image">
				  <img src="https://wi.wallpapertip.com/wsimgs/156-1569877_custom-software-development-graphic-design.jpg" alt="" data-position="80% center" />
			  </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Cariere și Internship</a></h2>
					  </header>
					  <p>Planuri de viitor!</p>
					  <ul class="actions">
						  <li><a href="cariere" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
			  </div>
		  </article>
<!--13-->
		  <article id="thirteen" class="post invert style2 alt">
			  <div class="image">
				  <img src="https://wi.wallpapertip.com/wsimgs/70-700532_learning-culture-innovation-poster-science-and-technology.jpg" alt="" data-position="80% center" />
			  </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Extracurriculare</a></h2>
					  </header>
					  <p>Prea mult timp liber? Nu mai ai.</p>
					  <ul class="actions">
						  <li><a href="extracuriculare" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
			  </div>
		  </article>
<!--14-->
		  <article id="fourteen" class="post style2">
			  <div class="image">
				  <img src="images/echipa.jpg" alt="" data-position="80% center" />
			  </div>
			  <div class="content">
				  <div class="inner">
					  <header>
						  <h2 class="r-title news__title"><a class="r-link animated-underline animated-underline_type5 news__link">Echipa Ghidul Bobocului 2020</a></h2>
					  </header>
					  <p>Regia, traducerea și subtitrarea</p>
					  <ul class="actions">
						  <li><a href="echipa-ghid" class="button alt">Accesează secțiunea</a></li>
					  </ul>
				  </div>
			  </div>
		  </article>

	  <!-- Footer -->
		  <footer id="footer">
			  <ul class="contact" style="list-style-type:none;"> <span class="cont">Contact ASMI:</span>
				  <li><a href="https://www.facebook.com/asmi.ub" target="_blank" rel="noreferer noopener" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				  <li><a href="https://www.instagram.com/asmi.ub/?hl=ro" target="_blank" rel="noreferer noopener" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			  </ul>
			  <ul class="contact" style="list-style-type:none;"> <span class="cont">Contact FMI:</span>
				  <li>Adresa: Str. Academiei nr.14, 010014 București</li>
				  <li>Telefon: +4021 314 3508</li>
				  <li>E-mail: secretariat @ fmi.unibuc.ro</li>
				  <li><a href="https://www.facebook.com/fmi.ub" target="_blank" rel="noreferer noopener" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			  </ul>
		  </footer>

</body>
</main>
